<ion-header>
  <ion-toolbar>
    <ion-title>Add item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-item>
  <ion-label>Name</ion-label>
  <ion-input [(ngModel)]="item.name" placeholder="Ipad pro"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Qty</ion-label>
  <ion-input [(ngModel)]="item.qty" type="number" placeholder="0"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Price</ion-label>
  <ion-input [(ngModel)]="item.price" type="number" placeholder="0.00"></ion-input>
</ion-item>

<ion-button (click)="addItem(item)" fill="clear" expand="block">
  Add
</ion-button>

</ion-content>
